@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

<div class="card bg-dark text-white text-center mx-auto" style="width:1000px">
    <img class="card-img" src="~/aircraft.jpg" alt="Card image">
    <div class="card-img-overlay">
        <p class="display-1 card-title text-uppercase text-dark ">Aircrafts</p>
        <a href="/aircrafts" class="stretched-link"></a>
    </div>
</div>
<br />
<div class="card bg-dark text-white text-center mx-auto" style="width:1000px">
    <img class="card-img" src="~/flight.jpg" alt="Card image">
    <div class="card-img-overlay">
        <p class="display-1 card-title text-uppercase text-light ">Flight</p>
        <a href="/flights" class="stretched-link"></a>
    </div>
</div>
<br />
<div class="card bg-dark text-dark text-center mx-auto" style="width:1000px">
    <img class="card-img" src="~/airport.jpg" alt="Card image">
    <div class="card-img-overlay">
        <p class="display-1 card-title text-uppercase text-light ">Airports</p>
        <a href="/airports" class="stretched-link"></a>
    </div>
</div>
<br />
<div class="card bg-dark text-dark text-center mx-auto" style="width:1000px">
    <img class="card-img" src="~/manager.jpg" alt="Card image">
    <div class="card-img-overlay">
        <p class="display-1 card-title text-uppercase text-light ">Managers</p>
        <a href="/managers" class="stretched-link"></a>
    </div>
</div>
<br />
<div class="card bg-dark text-white text-center mx-auto" style="width:1000px">
    <img class="card-img" src="~/airline.jpg" alt="Card image">
    <div class="card-img-overlay">
        <p class="display-1 card-title text-uppercase text-light ">Airlines</p>
        <a href="/airlines" class="stretched-link"></a>
    </div>
</div>
<br />
<div class="card bg-dark text-white text-center mx-auto" style="width:1000px">
    <img class="card-img" src="~/seat.jpg" alt="Card image">
    <div class="card-img-overlay">
        <p class="display-1 card-title text-uppercase text-dark ">Seats</p>
        <a href="/seats" class="stretched-link"></a>
    </div>
</div>
<br />
<div class="card bg-dark text-white text-center mx-auto" style="width:1000px">
    <img class="card-img" src="~/ticket.jpg" alt="Card image">
    <div class="card-img-overlay">
        <p class="display-1 card-title text-uppercase text-light ">Tickets</p>
        <a href="/tickets" class="stretched-link"></a>
    </div>
</div>
<br />
<div class="card bg-dark text-white text-center mx-auto" style="width:1000px">
    <img class="card-img" src="~/city.jpg" alt="Card image">
    <div class="card-img-overlay">
        <p class="display-1 card-title text-uppercase text-dark ">Cities</p>
        <a href="/cities" class="stretched-link"></a>
    </div>
</div>
