@page
@model Fly.IdentityServer.Pages.Account.Register.ManagerModel

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ManagerForRegistrationDto.FirstName" class="control-label"></label>
                <input asp-for="ManagerForRegistrationDto.FirstName" class="form-control" />
                <span asp-validation-for="ManagerForRegistrationDto.FirstName"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerForRegistrationDto.LastName" class="control-label"></label>
                <input asp-for="ManagerForRegistrationDto.LastName" class="form-control" />
                <span asp-validation-for="ManagerForRegistrationDto.LastName"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerForRegistrationDto.UserName" class="control-label"></label>
                <input asp-for="ManagerForRegistrationDto.UserName" class="form-control" />
                <span asp-validation-for="ManagerForRegistrationDto.UserName"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerForRegistrationDto.Password" class="control-label"></label>
                <input asp-for="ManagerForRegistrationDto.Password" type="password" class="form-control" />
                <span asp-validation-for="ManagerForRegistrationDto.Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerForRegistrationDto.Email" class="control-label"></label>
                <input asp-for="ManagerForRegistrationDto.Email" class="form-control" />
                <span asp-validation-for="ManagerForRegistrationDto.Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerForRegistrationDto.PhoneNumber" class="control-label"></label>
                <input asp-for="ManagerForRegistrationDto.PhoneNumber" class="form-control" />
                <span asp-validation-for="ManagerForRegistrationDto.PhoneNumber"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Airline Id</label>
                <input asp-for="ManagerForRegistrationDto.AirlineId" class="form-control" />
                <span asp-validation-for="ManagerForRegistrationDto.AirlineId"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}