@page
@model Fly.IdentityServer.Pages.Account.Register.ManagerModel

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-antiforgery="true">
            <div class="form-group">
                <label asp-for="CreateManagerDto.FirstName" class="control-label"></label>
                <input asp-for="CreateManagerDto.FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CreateManagerDto.LastName" class="control-label"></label>
                <input asp-for="CreateManagerDto.LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CreateManagerDto.UserName" class="control-label"></label>
                <input asp-for="CreateManagerDto.UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CreateManagerDto.Password" class="control-label"></label>
                <input asp-for="CreateManagerDto.Password" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CreateManagerDto.Email" class="control-label"></label>
                <input asp-for="CreateManagerDto.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CreateManagerDto.PhoneNumber" class="control-label"></label>
                <input asp-for="CreateManagerDto.PhoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Airline Id</label>
                <input asp-for="CreateManagerDto.AirlineId" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
