@page
@model Fly.IdentityServer.Pages.Account.PasswordReset.IndexModel

<hr />
<div class="row">
    <div class="col-md-4">
        <label>@Model.Message</label>
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ResetPasswordDto.UserName" class="control-label"></label>
                <input asp-for="ResetPasswordDto.UserName" class="form-control" />
                <span asp-validation-for="ResetPasswordDto.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResetPasswordDto.Password" class="control-label"></label>
                <input asp-for="ResetPasswordDto.Password" type="password" class="form-control" />
                <span asp-validation-for="ResetPasswordDto.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResetPasswordDto.NewPassword" class="control-label"></label>
                <input asp-for="ResetPasswordDto.NewPassword" type="password" class="form-control" />
                <span asp-validation-for="ResetPasswordDto.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

