@using Fly.Shared.DataTransferObjects;
@model SeatsDto

<div class="card  mx-auto" style="width:1000px">
    <img class="card-img-top" src="~/seat.jpg">
    <div class="card-body">
        <form asp-action="Create">
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EconomClass" class="control-label"></label>
                <input asp-for="EconomClass" class="form-control" />
                <span asp-validation-for="EconomClass" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="FirstClass" class="control-label"></label>
                <input asp-for="FirstClass" class="form-control" />
                <span asp-validation-for="FirstClass" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="BusinessClass" class="control-label"></label>
                <input asp-for="BusinessClass" class="form-control" />
                <span asp-validation-for="BusinessClass" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="AircraftId" class="control-label"></label>
                <input asp-for="AircraftId" class="form-control" />
                <span asp-validation-for="AircraftId" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@Html.AntiForgeryToken();

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
