@model Fly.Core.Entities.Seat


<div class="card  mx-auto" style="width:1000px">
    <img class="card-img-top" src="~/seat.jpg">
    <div class="card-body">
        <form asp-action="Edit">
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Row" class="control-label"></label>
                <input asp-for="Row" class="form-control" />
                <span asp-validation-for="Row" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Column" class="control-label"></label>
                <input asp-for="Column" class="form-control" />
                <span asp-validation-for="Column" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="SeatClass" class="control-label"></label>
                <input asp-for="SeatClass" class="form-control" />
                <span asp-validation-for="SeatClass" class="text-danger"></span>
            </div><br />
            @Html.HiddenFor(x=>x.AircraftId)
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@Html.AntiForgeryToken();

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
