@if(User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Passenger"))
{
    <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Passenger" asp-action="Index">Profile</a>
        </li>
}
else if (User.IsInRole("Manager"))
{
    <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Manager" asp-action="Index">Manage</a>
        </li>
}
else if (User.IsInRole("Administrator"))
{
    <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Administrator" asp-action="Index">Admin</a>
        </li>
}
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Sign In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
