@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@using Fly.Core.Entities;
@model Passenger

<div class="card  mx-auto" style="width:1000px">
    <div class="card-body">
        <form asp-action="Profile">
            <fieldset id="profile">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="MiddleName" class="control-label"></label>
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Nationality" class="control-label"></label>
                    <input asp-for="Nationality" class="form-control" />
                    <span asp-validation-for="Nationality" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="PassportNo" class="control-label"></label>
                    <input asp-for="PassportNo" class="form-control" />
                    <span asp-validation-for="PassportNo" class="text-danger"></span>
                </div>
                <br />
                @Html.HiddenFor(x=>x.UserId)
                @Html.HiddenFor(x=>x.Id)
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <br />
            </fieldset>
            @Html.ActionLink("Back", "Index")
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
